body {
    padding-top: 80px;
    padding-bottom: 180px;
    background-image: url("bootstrap/css/blur-bg.jpg");
    background-size: cover;
}

.bg{
    background-image:url("bootstrap/css/winter.jpg");
    background-size: cover;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}

.navbar{
    background-image: url("bootstrap/css/bg.jpg");
    background-size: cover;
}


.navbar-brand{
   color: black;
}

.weather.panel .panel-heading {
    font-weight: lighter !important;
    font-size: 1.2em;
    opacity: 0.6;
}

.weather.panel .panel-footer {
    font-weight: lighter !important;
    background-color:  #8eb9df;
    color: white;
}

#textArea{
    padding-left: 30% ;
    padding-right: 25%;
}

#toggleButton{
    padding-left: 40% ;
}



.container {
    position: relative;



}
[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
label {

    display: block;
    width: 98%;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;



}
label:before,
label:after {
    position: absolute;
}

label:before {
    content: 'More';
    left: 10%;
}

label:after {
    content: '⇣●';
    right: 20%;
    animation: sudo .85s linear infinite alternate;
}

@keyframes sudo {
    from {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(2px);
    }
}
[type="checkbox"] ~ ul {
    display: none;


}
[type="checkbox"]:checked ~ ul {
    display: block;
    padding-right: 10%;
}
[type="checkbox"]:checked + label {
    top: 100%;

}
[type="checkbox"]:checked + label:before {
    content: 'Less';
}

[type="checkbox"]:checked + label:after {
    content: '⇡●';
}


