

<div class="container">

    <div class="weather-search">




                <div>
                    <form class="form-inline" role="form">

                        <div class="container">

                        <span class="form-group {{hasState}}">
                            <label class="sr-only" for="location">City</label>
                            <input ng-model="location" type="text" class="form-control" id="location" placeholder="City">
                        </span>
                            <div class="col-md-1 col-md-offset-4" >

                        <button ng-click="getForecastByLocation(location)" type="submit" class="btn btn-primary">Search!</button>
                                <span ng-show="message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{message}}</span></div></div></form></div>

                </div>
            </div>
        </div>
    </div>
    <div class="weather-data " ng-show="true">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <h3>
                        {{forecast.city.name | placeholder:'?'}}, {{forecast.city.country | isoCountry}}
                        <small>Lon: {{forecast.city.coord.lon | number:2}} Lat: {{forecast.city.coord.lat | number:2}} Population: {{forecast.city.population | number:0}}</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <div weather-panel="forecast " show-entry="forecast.list[0]"></div>
            </div>
        </div>
        <div class="row ">
        <div class="container">


                <div weather-panel="forecast " show-entry="forecast.list[1]"></div>


                <div weather-panel="forecast" show-entry="forecast.list[2]"></div>


                <div weather-panel="forecast" show-entry="forecast.list[3]"></div>


            <div class="container">

                <input type="checkbox" id="check_id">
                <br><br>
                <label for="check_id"></label>

                <ul>
                    <br>
                    <div weather-panel="forecast" show-entry="forecast.list[4]"></div>
                    <div weather-panel="forecast" show-entry="forecast.list[5]"></div>
                </ul>
            </div>
            </div>

            </div>
        </div>
    </div>
</div>

